.red {
    background-color: tomato;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.darkblue {
    background-color: darkblue;
}
.violet {
    background-color: violet;
}
.orange {
    background-color: orange;
}